body {
    background-color: #7c009b;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;

    color: white;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    padding: 10px;
}

th,
.birthday {
    background-color: #530068;
}

td {
    text-align: center;
    /* cake image causes text to get pushed up if content is center aligned */
    vertical-align: top;
    height: 130px;
}

td.birthday {
    color: gold;
}

img {
    height: 64px;
}

footer {
    height: 50px;
    margin-top: 10px;
    background-color: lightgray;
    color: black;

    text-align: center;
}
