body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

/* display: block and margin: 10px auto gives us a vertical scroll of images with the images centered horizontally */
.gallery-pic {
    align-items: center;
    margin: 10px auto;
    width: 50%;
    max-width: 800px;

    border: 2px solid gray;
    border-radius: 8px;
    display: block;
}

/* padding, background color, and border radius gives the appearance of a button. */
a {
    padding: 8px;
    background-color: #7c009b;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: #530068;
}

/* For some reason, text element padding (like the ones for links) doesn't seem to actually increase the size of the
element, so I just increased the top padding of the footer to get around it. there's likely a more correct
display: whatever; i can apply to the links to get it working properly but this workaround works fine enough. */
footer {
    height: 100px;
    padding-top: 15px;
    margin-top: 10px;
    background-color: lightgray;
    color: black;

    text-align: center;
}
