<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <h1>Hello, world!</h1>
        </header>
        <main>
            <div class="column-card">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ratione laborum sint placeat rerum
                quod? Rem obcaecati iste assumenda laborum facilis dolorem, temporibus distinctio? Consectetur quo nisi
                at tempore odit voluptas commodi illum molestias? Voluptatem aliquam repellat, quaerat necessitatibus
                rerum maxime repellendus mollitia nam exercitationem obcaecati quia alias excepturi natus explicabo,
                ducimus itaque deserunt nobis reprehenderit illo, aspernatur voluptates. Sit illo, ut quasi magni amet
                quibusdam cumque sapiente facilis autem ullam incidunt similique quidem, eligendi nam aperiam molestias
                aliquam assumenda quaerat? Dolorem quisquam qui, ab illum itaque autem saepe molestias, nemo veniam
                delectus error pariatur, facilis tempora quae distinctio ducimus.
                <h2>Learn <span class="tooltip">HTML<span class="tooltiptext">HyperText Markup Language</span></span>
                </h2>
            </div>
            <div class="column-card">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident voluptas voluptatem voluptates
                recusandae laboriosam deserunt! Maxime, similique veritatis dolorem consequatur iusto explicabo tenetur
                exercitationem repellat, tempora eius aspernatur suscipit quisquam rerum et fugit sequi, laudantium
                consectetur placeat voluptatibus temporibus blanditiis. Repellat vel esse, totam consectetur inventore
                dolore dolores, doloribus nesciunt necessitatibus natus eius. Consequuntur sunt repellat, architecto et
                quas doloribus magni eius, doloremque nam maiores quos nesciunt! Itaque autem doloremque esse commodi
                vero, deleniti, dicta eum inventore nobis facilis vitae sapiente aliquid explicabo incidunt consequatur
                asperiores a id ipsum voluptatibus excepturi quia magni nemo! Harum accusamus eum quisquam placeat
                quaerat.
            </div>
        </main>
        <aside></aside>
        <footer>
            ©2026
            <br><br>
            <a href="../../">Back to Student Portal</a>
        </footer>
    </body>
</html>
