:root {
    --background-primary: #7c009b;
    --background-secondary: #530068;
    --text: #ffffff;
}

body {
    margin: 0px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    flex-basis: 50%;
    text-align: center;
}

.hero-img {
    flex-basis: 50%;
    text-align: center;
}

footer {
    height: 100px;
    padding-top: 15px;
    margin-top: 10px;
    background-color: lightgray;
    color: black;

    text-align: center;
}
